doctype html
html(lang='en')
	head
		title #{title}
		link(rel='stylesheet', href='stylesheets/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(type='text/javascript', src="/socket.io/socket.io.js")
		script(type='text/javascript', src='javascripts/client.js')
	body
		header
			h1 Twitter Stream page
			hr
		.container
			h2 Search 2: #{twitterQuery_1_msg}
			div#twitter_results_1
				ul

			hr

			h2 Search 1: #{twitterQuery_2_msg}
			div#twitter_results_2
				ul
			
			//- --- STREAMING OFF FOR NOW ---
			//- hr
			//- h2 Twitter Stream about: #{twitter_stream_phrase}
			//- ul.tweet_list
		footer
			hr
			p Running on Node with Express, Jade, Stylus, Socket.io, Twit.