doctype html
html(lang='en')
	head
		title #{title}
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='stylesheets/style.css')
		script(type='text/javascript', src="http://d3js.org/d3.v3.min.js")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(type='text/javascript', src='jquery.textillate.js')
		script(type='text/javascript', src='assets/jquery.lettering.js')
		script(type='text/javascript', src='assets/jquery.fittext.js')
		script(type='text/css', src='assets/animate.css')
		script(type='text/javascript', src="/socket.io/socket.io.js")
		script(type='text/javascript', src='javascripts/view.js')
		script(type='text/javascript', src='javascripts/word.js')
		script(type='text/javascript', src='javascripts/tweet.js')
		script(type='text/javascript', src='javascripts/set.js')
		script(type='text/javascript', src='javascripts/sosoStateMachine.js')
		script(type='text/javascript', src='javascripts/sosoState.js')
		script(type='text/javascript', src='javascripts/sosoStateTransition.js')
		script(type='text/javascript', src='javascripts/comparison.js')
		script(type='text/javascript', src='javascripts/clientApp.js')
		script(type='text/javascript', src='javascripts/model.js')
		script(type='text/javascript', src='javascripts/controller.js')

	body 
		header
			h1 Common Ground prototype
			//- h2 Search 1: #{twitterQuery_1_msg}
		
		div#container
			//- div.test Bacon ipsum dolor sit amet landjaeger biltong porchetta rump, turducken corned beef fatback. Strip steak prosciutto drumstick meatball ribeye shank jerky shoulder shankle pork pork loin beef ribs biltong. Fatback boudin sirloin pork. Tenderloin ham pork chop sirloin t-bone andouille shank bresaola tongue meatball. Shoulder pork belly salami, tenderloin frankfurter kielbasa meatloaf spare ribs.

			div#query-selector
				p Select the query to run:
				select(id="dd-queries" onchange="ddController()")
					option(value="query1" selected) BarackObama / MichelleObama
					option(value="query2") WholeFoods / McDonalds
			br

			div#state-selector
				span#next NEXT >

			br

			div#content

			div#bubbleContainer
				div#tweetBubble1
				div#tweetBubble3
				div#tweetBubble2
			div
				button(class="button" onclick="union()") Union
			div#listView
				div#listContainer
					h2 List 1
					div#list1(class="tweetlist")
				div#listContainer
					h2 List 2
					div#list2(class="tweetlist")
			canvas(id="myCanvas") resize

		footer
			//- p Sosofun.