doctype html
html(lang='en')
	head
		title #{title}
		link(rel='stylesheet', href='stylesheets/style.css')
		script(type='text/javascript', src="http://d3js.org/d3.v3.min.js")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(type='text/javascript', src='/javascripts/paper-full.min.js')
		script(type='text/javascript', src='jquery.textillate.js')
		script(type='text/javascript', src='assets/jquery.lettering.js')
		script(type='text/javascript', src='assets/jquery.fittext.js')
		script(type='text/css', src='assets/animate.css')
		//- script(type ='text/javascript', src='graphics.js')				// Doesnt seem useful. From Alex?
		script(type='text/javascript', src="/socket.io/socket.io.js")
		script(type='text/javascript', src='javascripts/view.js')
		script(type='text/javascript', src='javascripts/client.js')

	body 
		canvas(id="myCanvas") resize
		header
			h1 Twitter Stream page
			hr
		.container
			h2 Search 2: #{twitterQuery_1_msg}
			div#twitter_results_1
				ul

			hr

			h2 Search 1: #{twitterQuery_2_msg}
			div#twitter_results_2
				ul
			
			//- --- STREAMING OFF FOR NOW ---
			//- hr
			//- h2 Twitter Stream about: #{twitter_stream_phrase}
			//- ul.tweet_list
		footer
			p Running on Node with Express, Jade, Stylus, Socket.io, Twit.