<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<title>Common Ground</title>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='assets/stylesheets/bootstrap.min.css'>
		<link rel='stylesheet' href='assets/stylesheets/frontend.css'>
	</head>
	<body>
		
		<!-- <div class='splash-container'>
				<div class="logo-splash center-block">
					<img src="assets/CommonGround-logo-export-large.png">
				</div>
		</div> -->

		<div class="splash-outer content">
			<div class="splash-middle">
				<div class="splash-inner">
					
						<div class="logo-img-splash center-block">
							<img src="assets/CommonGround-logo-medium.png">
						</div>
						
						<p>
							There's a lot of arguments and name-calling online, especially on Twitter. But aren’t we all humans, born of the same stuff?
						</p>
						<br>
						<p>
							People who talk similarly are said to be likely matches for friends. Let’s see who, deep-down, should be getting along, and who might be better off staying away from each other.
						</p>
						<br><br>
						<p class="disclaimer text-center">
							<em>We need access to your Twitter account to perform comparisons on other users. We won't mess up your stuff, promise.</em>
						</p>

						<!-- <p>
							There is a lot of strife out there in the world. And that discord reaches online with arguments, name-calling, and all out twitter warfare. But aren’t we all humans, born of the same stuff?
						</p>
						<p class="callout serif">
							<em>Can’t we find some Common Ground?</em>
						</p>
						<p>
							People who talk similarly are said to be likely matches for friends. Let’s see who deep-down, should be getting along, and who might be better off staying far away from each other.
						</p> -->

						<div class="login-splash center-block">
							<a href="/auth/twitter"><img src="assets/sign-in-with-twitter-gray.png"></a>
						</div>
					
				</div>
			</div>
		</div>

		<!-- <div class="splash-outer bg">
			<div class="splash-middle">
				<div class="splash-inner">
					
					<div class="bg-img-splash center-block">
						<img src="assets/scan-intel-commonGround-sketch-1-export.png">
					</div>
				
				</div>
			</div>
		</div> -->

		<script type='text/javascript', src="http://d3js.org/d3.v3.min.js"></script>
		<script type='text/javascript' src='assets/javascript/frontend.js'></script>
		<script type='text/javascript' src='typeahead.jquery.js'></script>
		<script type='text/javascript' src='jquery.textillate.js'></script>
		<script type='text/javascript' src='assets/jquery.lettering.js'></script>
		<script type='text/javascript' src='assets/jquery.fittext.js'></script>
		<script type='text/css' src='assets/animate.css'></script>

		<!-- Socket.io Hack for linode setup
		This is the proper socket.io insertion
		<script type='text/javascript' src="/socket.io/socket.io.js"></script>
		-->
		<script type='text/javascript' src="javascripts/socket.io.js"></script>

		<script type='text/javascript' src='javascripts/view.js'></script>
		<script type='text/javascript' src='javascripts/word.js'></script>
		<script type='text/javascript' src='javascripts/tweet.js'></script>
		<script type='text/javascript' src='javascripts/set.js'></script>
		<script type='text/javascript' src='javascripts/sosoStateMachine.js'></script>
		<script type='text/javascript' src='javascripts/sosoState.js'></script>
		<script type='text/javascript' src='javascripts/sosoStateTransition.js'></script>
		<script type='text/javascript' src='javascripts/comparison.js'></script>
		<script type='text/javascript' src='javascripts/clientApp.js'></script>
		<script type='text/javascript' src='javascripts/model.js'></script>
		<script type='text/javascript' src='javascripts/controller.js'></script>
</body>
</html>