@import url('reset.css');

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

// Now we start our CSS - - - - - - - - - - - - - - - -

body
  // white-space pre      // Use this for divs that contain JSON that we want to format nicely.
  color black
  font-family 'Source Sans Pro', sans-serif
  font-weight 300
  font-size 16px

h1
  font-size 2em
  font-weight 400
  margin 20px 0

#container
  position relative
  top 0px
  margin 0 auto
  width 900px
  border 1px solid #CCC

h2
  font-size 1em
  font-weight 400
  margin 20px 0

#bubbleContainer
  word-wrap break-word
  padding 10
  height auto
  color #000
  overflow hidden

.tweetBubble
  width 33%
  padding 10px
  float left

#tweetBubble2
  float right

.bubbleArea
  font-size 1.5em
  font-weight 400
  color #1890FF

#listView
  width 1024px
  padding 10px

#listContainer
  width 500px
  float left
  padding 10px

.hide
  color red
  display none

.union
  color green

.word
  position absolute

#intro_view
  width 600px
  margin 50px auto

#intro_view p
  margin 10px 0

#state_selector > #next
  cursor pointer
  cursor hand

// Query menu bar

#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu {
    width: 900px;
    margin: 60px auto;
    background-color: #CCC;
}
#menu li {
    float: left;
    position: relative;

}
#menu a {
    float: left;
    padding: 12px 30px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}
#menu li:hover > a {
    color: #fafafa;
}
*html #menu li a:hover { /* IE6 only */
    color: #fafafa;
}
.query_block
  float left
  border 1px solid red
  padding 5px
  padding 10px

