body {
  white-space: pre;
  color: #00f;
}
#bubbleContainer {
  word-wrap: break-word;
  padding: 10;
  height: auto;
  color: #000;
  overflow: hidden;
}
#tweetBubble1 {
  width: 300px;
  padding: 10px;
  float: left;
}
#tweetBubble2 {
  width: 300px;
  padding: 10px;
  float: left;
}
#tweetBubble3 {
  width: 300px;
  padding: 10px;
  float: left;
}
.hide {
  color: #f00;
}
.union {
  color: #008000;
}
