@import url('reset.css');

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

// Now we start our CSS - - - - - - - - - - - - - - - -

body
  // white-space pre      // Use this for divs that contain JSON that we want to format nicely.
  color black
  font-family 'Source Sans Pro', sans-serif
  font-weight 300
  font-size 16px

h1
  font-size 2em
  font-weight 400
  margin 20px 0

h2
  font-size 1em
  font-weight 400
  margin 20px 0

#bubbleContainer
  word-wrap break-word
  padding 10
  height auto
  color #000
  overflow hidden

#tweetBubble1
  width 300px
  padding 10px
  float left

#tweetBubble2
  width 300px
  padding 10px
  float left

#tweetBubble3
  width 300px
  padding 10px
  float left

#listView
  width 1024px
  padding 10px

#listContainer
  width 500px
  float left
  padding 10px

.hide
  color red
  display none

.union
  color green

// .test
//   display table-cell
//   vertical-align middle
//   border 1px red solid
//   width 300px