body
/*
  This is the same as using <pre> in our HTML, which formats our JSON in out HTML with linebreaks, indents, etc. to make it legible. Without it, JSON.stringify() is worthless.
  */
  white-space pre
  color blue

#bubbleContainer
  word-wrap break-word
  padding 10
  height auto
  color #000
  overflow hidden

#tweetBubble1
  width 300px
  padding 10px
  float left

#tweetBubble2
  width 300px
  padding 10px
  float left

#tweetBubble3
  width 300px
  padding 10px
  float left

.hide
  color red

.union
  color green